.idea/*
cmake-build*
models/Windfall Island/Windfall/*
models/isometric_world*
models/cavern*
models/backpack*
models/GameCube - The Legend of Zelda The Wind Waker - Dragon Roost Island*
models/textures_windfall_/textures_windfall_highres/*png
models/textures_windfall_/textures_windfall_lowres/*png

